<section id="about">
    <div class="container py-5">
        <div class="row">
            <div class="mx-auto col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 mb-3">
                <h2 class="blog-title">The USP Express LLC Story: Driven to deliver a better car shipping experience
                </h2>
                <p>USP Express LLC’s founders are seasoned, successful entrepreneurs on a mission to transform the car
                    shipping industry. Over the course of several cross-country moves, we experienced how unreliable the
                    car shipping industry can be. From dented bumpers to no-show drivers, we saw the worst that’s out
                    there and knew that we could do better. Much better.</p>
            </div>
            <div class="mx-auto col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 mb-3 d-flex align-items-center">
                <img src="./assets/img/about.jpg" width="90%" alt="">
            </div>
        </div>
        <p>We decided to apply our expertise in business leadership, technology and customer care to the tired,
            unreliable auto transport industry. The result? Superb service and safety are our guiding
            principles. Our proprietary ranking and scheduling algorithms ensure that your vehicle is paired
            with a driver who has an impeccable service and safety rating. We track carrier performance to
            ensure that only consummate professionals are handling our customers’ vehicles. We stand beside you
            24/7, offering real-time updates on the progress of your vehicle throughout its journey.</p>
        <p>USP Express LLC’ is driven to provide what every car shipping customer deserves: a transparent and
            stress-free auto transport experience. We are the car shipping company you can count on during all
            of life’s transitions.</p>
        <h2 class="blog-title">Experience the USP Express LLC difference: customer-centric care and meticulous
            service</h2>
        <p>We believe every client deserves a customized and personable experience no matter the vehicle you
            ship – be it a prized sports car, an irreplaceable classic showpiece or the well-loved family SUV.
            We partner with the most trusted auto moving professionals in the industry, offering decades of
            experience and impeccable track records of safety and service.</p>
        <h2 class="blog-title">For your peace of mind, we and our drivers are licensed, bonded and insured</h2>
        <p>When you choose USP Express LLC’, our dedicated experts work with you to create a custom vehicle
            shipment plan, schedule and quote and are available to you at every step of the move, ensuring a
            smooth, stress-free experience.</p>
        <h2 class="blog-title">A better auto moving experience – and the best prices</h2>
        <p>At USP Express LLC, we are passionate about providing a better auto moving experience, and this
            begins with transparent pricing. Price is a function of schedule, vehicle size, weight, capacity,
            distance, and timeframe.</p>
        <p>Using our technology, we optimize routes and pass the subsequent savings to you. Whether you are
            primarily concerned with timing or savings, we will ensure that your needs are met.</p>
        <h2 class="blog-title">A full complement of services</h2>
        <p>We offer the entire range of auto transport solutions, from standard open-carrier options for
            personal autos, to enclosed-carrier services for antique, exotic and collectible cars. We move
            everything from family cars and classic roadsters to luxury or collectible vehicles. One call to
            (309) 439-9750 answers all your questions and meets all of your car shipping and commercial auto
            transport needs.</p>
    </div>
</section>