<section id="goal-section">
    <div class="container py-5">
        <div class="row text-center">
            <div data-aos="fade-up" data-aos-duration="900" class="mx-auto mt-3 col-11 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="img-content">
                            <img src="./assets/img/vission.png" width="90%" alt="">
                        </div>
                        <h3>Our vision</h3>
                        <p>At USP Express, our mission is to make transportation of the vehicles as easy, safe, and affordable as possible nationwide and build trust and communicate well with our customers throughout all the steps.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1100" class="mx-auto mt-3 col-11 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="img-content">
                            <img src="./assets/img/mission.png" width="90%" alt="">
                        </div>
                        <h3>Our goal</h3>
                        <p>Our ultimate goal is to become all-in-one Auto Transportation company to service vehicle shipment needs of any kind and size both nationally and globally. We solve logistics problems for companies across the globe and across industries, from the simple to the most complex.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1300" class="mx-auto mt-3 col-11 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="img-content">
                            <img src="./assets/img/goal.png" width="90%" alt="">
                        </div>
                        <h3>Our values</h3>
                        <p>Here at USP Express, we deeply believe in essence of customer service, innovations, credibility and their role in our business growth. These principles form a very foundation of our business strategy and we strive to follow them by all means.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>