<section id="main-video">

    <video playsinline autoplay muted loop>
        <source src="./assets/img/aboutVideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="gradient">
        <div class="info-content">
            <div data-aos="fade-up" data-aos-duration="900" class="img-content">
                <img src="./assets/img/logo/logo.png" alt="Logo" width="60%" class="mx-auto">
            </div>
            <div>
                <hr style="background-color: var(--light);opacity: 1;">
                <p class="text-light font-s-18">USP Express LLC, is one of the country’s top Auto Transport firms, specializing in the shipping of privately owned vehicles, motorcycles, and heavy equipment to and from all fifty states as well as international. We create Team UEL – team of pro-active, honest and kind people</p>
            </div>
        </div>
    </div>

</section>