<section id="trused">
    <div class="container py-5">
        <h2 class="blog-title"><i class="fa fa-handshake-o me-3"></i>Trusted by</h2>

        <div class="my-4">
            <swiper [config]="trused">
            <!-- <div class="swiper-container"> -->
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="sw-item">
                            <img src="./assets/img/trused/bbb.png" alt="trused">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="sw-item">
                            <img src="./assets/img/trused/birdeye-logo-jsonld-2020.png" alt="trused">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="sw-item">
                            <img src="./assets/img/trused/Frame_36325.png" alt="trused">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="sw-item">
                            <img src="./assets/img/trused/GoogleReview_WaveE_logo_copy.png" alt="trused">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="sw-item">
                            <img src="./assets/img/trused/Group_21569.png" alt="trused">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="sw-item">
                            <img src="./assets/img/trused/image_11.png" alt="trused">
                        </div>
                    </div>


                </div>
            </swiper>
            <!-- </div> -->


            <div class="swiper-button-next-trused">
                <i class="fa fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev-trused">
                <i class="fa fa-chevron-left"></i>
            </div>
        </div>
    </div>
</section>