<section id="contacts" style="padding-top: 50px;">
    <div class="container py-5">

        <div class="row py-3 pb-5">
            <div class="mx-auto col-11 col-sm-10 col-md-5 col-lg-5 col-xl-5">
                <h2 class="blog-title"><i class="fa fa-phone me-2"></i>Contacts</h2>

                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Let's talk</div>
                        <div class="card-text">
                            To request a quote or want to discuss about order, contact us directly or fill out the form
                            and we will get back to you pormpty
                        </div>

                        <form #ff="ngForm" (submit)="sendFrom(ff)">

                            <!-- person -->
                            <div class="form-outline">
                                <i class="fa fa-user me-2 trailing"></i>
                                <input type="text" ngModel name="name" class="form-control" required />
                                <label class="form-label" style="top:3px;">How can we call you?</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading"></div>
                                    <div class="form-notch-middle"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>


                            <div class="form-outline">
                                <i class="fa fa-phone me-2 trailing"></i>
                                <input type="text" ngModel name="phone" class="form-control" required />
                                <label class="form-label" style="top:3px;">Your phone number</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading"></div>
                                    <div class="form-notch-middle"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>


                            <div class="form-outline">
                                <i class="fa fa-envelope me-2 trailing"></i>
                                <input type="email" ngModel name="email" class="form-control" required />
                                <label class="form-label" style="top:3px;">Your Email address</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading"></div>
                                    <div class="form-notch-middle"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <div class="form-outline">
                                <i class="fa fa-pencil me-2 trailing"></i>
                                <input type="text" ngModel name="text" class="form-control" required />
                                <label class="form-label" style="top:3px;">Please input</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading"></div>
                                    <div class="form-notch-middle"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-block">send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-7 col-lg-7 col-xl-7 d-flex align-items-center justify-content-center">
                <div class="img-block">
                    <div class="mt-5">
                        <img src="./assets/img/contact.svg" class="img-fluid mx-auto" />
                    </div>
                    <div class="font-s-20 text-light mt-4">
                        <p><i class="fa fa-map-marker"></i>4144 11TH AVENUE A MOLINE, IL 61265</p>
                        <p><i class="fa fa-envelope"></i>info@uspexpressllc.com</p>
                        <p><i class="fa fa-phone"></i>+1 (309) 439-9750</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>