<section id="transport" style="padding-top: 50px;">
    <div class="container py-5">
        <h2 class="mt-5 mb-4 text-light" style="font-size: 28px;">
            <svg width="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 35.6C28.6156 35.6 35.6 28.6156 35.6 20C35.6 11.3844 28.6156 4.4 20 4.4C11.3844 4.4 4.4 11.3844 4.4 20C4.4 28.6156 11.3844 35.6 20 35.6ZM20 39.5C30.7696 39.5 39.5 30.7696 39.5 20C39.5 9.23045 30.7696 0.5 20 0.5C9.23045 0.5 0.5 9.23045 0.5 20C0.5 30.7696 9.23045 39.5 20 39.5Z"
                    fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 10.25C18.9231 10.25 18.05 11.1231 18.05 12.2C18.05 13.277 18.9231 14.15 20 14.15C21.077 14.15 21.95 13.277 21.95 12.2C21.95 11.1231 21.077 10.25 20 10.25ZM20 18.05C18.9231 18.05 18.05 18.9231 18.05 20V27.8C18.05 28.877 18.9231 29.75 20 29.75C21.077 29.75 21.95 28.877 21.95 27.8V20C21.95 18.9231 21.077 18.05 20 18.05Z"
                    fill="white"></path>
            </svg>
            How it works ?
        </h2>

        <!-- img left -->
        <div class="row">
            <div class="mx-auto col-11 col-sm-9 col-md-7 col-lg-4 col-xl-4 mt-5">
                <div class="bg-image ripple" data-mdb-ripple-color="light">
                    <img src="./assets/img/howitworks/first-step.png" class="img-fluid">
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-11 col-md-11 col-lg-8 col-xl-8 mt-5">
                <h2 class="blog-title">Book your vehicle transportation online or by phone.</h2>
                <div class="card-text">
                    <p>It's simple to send a car using USP Express!</p>
                    <p>Using our online car shipping quotation tool, you just submit some necessary details of your shipment such as pickup and destination zip codes, trailer type, vehicle details and shipping dates.</p>
                    <p>Then one of our available agents will manually calculate the best competitive quotes and get back to you shortly via email and phone call. Then you can go ahead and compare our prices and services (we know you want to!) — we’re sure you’ll find our prices very competitive.</p>
                </div>
            </div>
        </div>

        <!-- img right -->
        <div class="row img-right">
            <div class="mx-auto col-11 col-sm-11 col-md-11 col-lg-8 col-xl-8 mt-5">
                <h2 class="blog-title">We pick up your vehicle</h2>
                <div class="card-text">
                    <p>USP Express experts will work with you to set up a pick-up time and date that works best for you. As a direct customer of our company, we do our best to work around your schedule and assign only trusted truckers for your shipment.</p>
                    <p>When your trucker arrives, both of you will inspect your car together and sign a Bill of Lading. Then the assigned trucker will take care of the rest.</p>
                    <p>While your car is enjoying its journey, you can check in with your trucker directly as often as you wish to get updates.</p>
                </div>
            </div>
            <div class="mx-auto col-12 col-sm-9 col-md-7 col-lg-4 col-xl-4 mt-5">
                <div class="bg-image ripple" data-mdb-ripple-color="light">
                    <img src="./assets/img/howitworks/second-step.png" class="img-fluid">
                </div>
            </div>
        </div>

        <!-- img left -->
        <div class="row">
            <div class="mx-auto col-11 col-sm-9 col-md-7 col-lg-4 col-xl-4 mt-5">
                <div class="bg-image ripple" data-mdb-ripple-color="light">
                    <img src="./assets/img/howitworks/third-step.png" class="img-fluid">
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-11 col-md-11 col-lg-8 col-xl-8 mt-5">
                <h2 class="blog-title">Receive your vehicle</h2>
                <div class="card-text">
                    <p>You will receive a short update from the driver some time before the drop off which should leave you with enough preparation time. Then your assigned trucker will deliver your vehicle to your doorsteps (as we offer door-to-door service) or any other drop off location of your convenience.</p>
                    <p>After a careful inspection to make sure everything looks good, you’ll simply sign the  Bill of landing to accept your delivery. That’s it!</p>
                </div>
            </div>
        </div>

    </div>
</section>

<app-our-card></app-our-card>

<app-form-with-map></app-form-with-map>