<section id="faq">
    <div class="container py-5">
        <h2 class="blog-title"><i class="fa fa-lightbulb-o me-3"></i>F.A.Q.</h2>

        <h1>Your car shipping questions answered</h1>
        <p class="font-s-16 w-75 mx-auto">You can always contact one of our helpful auto transport experts standing by
            to help you craft the perfect solution for your personal or commercial auto transport needs. CALL NOW toll
            free
            <br />+1 (309) 439-9750
        </p>


        <div class="accordion my-4" id="accordionExample">
            <div data-aos="fade-up" data-aos-duration="900" id="headingOne">
                <h2>
                    <button class="btn" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        is USP Express LLC legit?
                    </button>
                </h2>
            </div>

            <div data-aos="fade-up" data-aos-duration="900" class="collapse-body">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    YES, USP Express LLC is a legitimate car shipping company. They are fully bonded, insured and licensed company with ICC-MC #1233585. They have been in the transport sector for 7 years and now provide nationwide vehicle shipment of any kind and size. USP Express has an overall 5/5 on Google Ratings.
                </div>
            </div>

            <div data-aos="fade-up" data-aos-duration="1300" id="headingTwo">
                <h2>
                    <button class="btn collapsed" type="button"
                        data-mdb-toggle="collapse" data-mdb-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        how do i get a quote for shipping my vehicle?
                    </button>
                </h2>
            </div>

            <div class="collapse-body">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    You can leave online request on our website and/or you can call us at +1 (309) 439-9750 and one of our available agents will serve your car shipment needs. In both cases, you will receive your car shipping quote to your email. All you need is the pick-up and delivery locations, vehicle make and model, as well as the pick-up date.
                </div>
            </div>

            <div data-aos="fade-up" data-aos-duration="1700" id="headingThree">
                <h2>
                    <button class="btn collapsed" type="button"
                        data-mdb-toggle="collapse" data-mdb-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        what detailsdo you need to place an order?
                    </button>
                </h2>
            </div>

            <div class="collapse-body">
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    The following information is required to place an order: - Customer’s contact info (Full name, email address, phone number) - Exact addresses for the pick-up location and delivery location - Name and contact details of people available in pick-up and drop-off location - Desired pick dates - Vehicle info (the year, make, and model) - Vehicle condition (running or non-running)
                </div>
            </div>

            <div data-aos="fade-up" data-aos-duration="2100" id="headingFour">
                <h2>
                    <button class="btn collapsed" type="button"
                        data-mdb-toggle="collapse" data-mdb-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        how is my car shipping cost calculated?
                    </button>
                </h2>
            </div>

            <div class="collapse-body">
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    data-mdb-parent="#accordionExample">
                    There are many factors that affect overall price quote for your auto transportation. However the main factors include: - Vehicle make and model - Vehicle size and weight - Distance between locations - Any upgrades such as enclosed transport or expedited service - The time of year The cost increases if you decide to choose optional add-ons at the time of booking, such as top-load service or enclosed carrier
                </div>
            </div>
        </div>

    </div>
</section>