<div class="carousel">

    <div class="main-content">
        <div class="text-content" data-aos="fade-up" data-aos-duration="1000">
            <h3 class="anDef">WE&nbsp;SHIP
                <span class="letters letters-1">CARS</span>
                <span class="letters letters-2">GOODS</span>
                <span class="letters letters-3">RAW&nbsp;MATERIALS</span>
            </h3>
            <h5>Deliver your vehicles nationally on time with no hassle!</h5>
            <a href="https://apps.msgplane.com/quote/usp" target="_blank" class="btn btn-lg btn-light text-dark mt-2">get a quote</a>
        </div>
    </div>

    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="sw-item" style="background-image: url(./assets/img/carousel/2.jpg);"></div>
            </div>

            <div class="swiper-slide">
                <div class="sw-item" style="background-image: url(./assets/img/carousel/3.jpg);"></div>
            </div>

            <div class="swiper-slide">
                <div class="sw-item" style="background-image: url(./assets/img/carousel/1.jpg);">
                </div>
            </div>
        </div>
    </swiper>


    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>