<div id="section-block" class="py-4">
    <div class="container py-5">
        <h2 class="blog-title"><i class="fa fa-send"></i> Ship your vehicle in 3 easy steps</h2>
        <div class="row py-4">
            <div data-aos="fade-right" data-aos-duration="900" class="mx-auto col-11 col-sm-9 col-md-6 col-lg-5 col-xl-4 mt-4">
                <div class="card">
                    <div class="card-number">1</div>
                    <div class="card-title">Quote & Reservation</div>
                    <div class="card-body"><a routerLink="quote" (click)="closeNav()">Click—or tap—here for an instant online quote</a> in seconds (we’re talking finger-snapping fast!), or call or start a chat with one of our advisors. Then go ahead and compare our prices and services (we know you want to!)—we’re sure you’ll find our prices are very competitive.</div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1100" class="mx-auto col-11 col-sm-9 col-md-6 col-lg-5 col-xl-4 mt-4">
                <div class="card">
                    <div class="card-number">2</div>
                    <div class="card-title">We pick up your vehicle</div>
                    <div class="card-body">Schedule your pickup date, time and an easy-to-access pickup location with your trucker. You can even release your car while you’re at work. When your trucker arrives, both of you will inspect your baby (ahem, car!) together and sign a Bill of Lading. Then wave bye-bye, pack your bags and leave the rest to us.</div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1300" class="mx-auto col-11 col-sm-9 col-md-6 col-lg-5 col-xl-4 mt-4">
                <div class="card">
                    <div class="card-number">3</div>
                    <div class="card-title">Delivery & Payment</div>
                    <div class="card-body">Receive your vehicle Reuniting you and your vehicle is an exciting moment—and one we look forward to at USP Express LLC! Your trucker will call you when your vehicle is almost home so you can greet them both right at your own driveway (or a nearby agreed-upon location).</div>
                </div>
            </div>
        </div>
        <div class="card-btn d-block my-5 px-3 pb-3">
            <a  href="https://apps.msgplane.com/quote/usp" target="_blank" class="btn float-end btn-danger font-s-16 ripple" data-mdb-ripple-color="light">get a quote <i class="fa fa-angle-double-right ms-2 font-s-20"></i></a>
        </div>
    </div>
</div>
